@model IEnumerable< Glamar.Entities.Telefono >

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.numero)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.numero)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idTelefono }) |
            @Html.ActionLink("Details", "Details", new { id=item.idTelefono }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idTelefono })
        </td>
    </tr>
}

</table>
